# requirements.txt — Vox-SN
# Testé avec Python 3.9 / Java 11 / Spark 3.3

# Core pipeline
pyspark==3.3.2
kafka-python==2.0.2

# NLP
spark-nlp==5.1.4
nltk==3.8.1
langdetect==1.0.9

# Validation
pandera==0.17.2
pandas==2.0.3
numpy<2.0
multimethod==1.9.1

# MLOps
apache-airflow==2.7.3
mlflow==2.8.1

# Stockage
pyhive==0.7.0
thrift==0.16.0
happybase==1.2.0

# Visualisation
matplotlib==3.7.3
seaborn==0.12.2
wordcloud==1.9.3